p {
    text-align-all: justify;
}

html {
    scroll-behavior: smooth;
}
.margin-banner-hd {
    background-color: #0066cb;
    border-radius: 5px;
    margin: auto;
}

.white-text{
    color: #ffffff;
}

.yellow-text {
    color: #ffc700;
}

.span-bolder {
    font-weight: bold;
}

.span-large-text {
    font-size: 30px;
    font-weight: lighter;
}

.bg-table {
    margin: auto;
    background-color: #38207e;
    border-radius: 5px;
}

.set-opacity {
    opacity: 0.85;
}

.number-title {
    font-size: 40px;
    font-weight: lighter;
    margin: auto;
}

table tr th {
    color: #ffc700;
    margin: auto;
    text-align: center;
    padding: 5px;

}

table tr td {
    color: #ffffff;
    text-align: left;
    padding: 5px;

}

table tfoot {
    background-color: #b3254d ;
    font-weight: bold;
    padding: 5px;
}

.align-right {
    text-align: right;
    padding-right: 5px;
}
.bg-text-overlay {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 2px 5px 2px;
}

ul li {
    color: #ffffff;
    text-align: justify;
}

.background-overlay {
    background-image: url("../images/backgrounds/footer1.jpg");
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    opacity: 0.75;
}

.vh-center {
    margin: auto;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

hr {
    border-color: rgba(0, 0, 0, 0);
}

.blank-80px {
    height: 80px;
    width: 100%;
    display: block;
}

.img-fit {
    max-width: 100%;
    max-height: 100%;
}

.text-wrap {
    word-wrap: break-word;
}

.card .icon-star {
    position: relative;
    margin: auto;
    top: -70px;
    max-width: 100px;
    max-height: 100px;
}

.card-borderless {
    border: none !important;
}

.card {
    border: 1px solid #ffffff;
    min-height: 100% !important;
}
.width-hr {
    max-width: 20%;
    border: 1px solid #ffffff;
}